h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  height: 100%;
}

.column {
  background: #f8f9fa;
  border-radius: 12px;
  padding: 1rem;
  flex: 1;
  min-width: 220px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.column h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.task {
  background: white;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.task.done {
  background: #d4edda;
  border-left: 4px solid #28a745;
}

.task:hover{
    cursor: grab;
}

.task:{
    cursor: grab;
}

.task h3 {
  margin: 0;
  font-size: 1rem;
}

.task p {
  margin: 0.25rem 0 0;
  font-size: 0.9rem;
  color: #555;
  display: flex;
}

.add{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.add:hover{
    background-color: red;
    cursor: pointer;
}

.main-container{ 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: red;
}